
/* -------------------------------------
   Bootstrap customization
   -------------------------------------*/

body {
  padding-top: 6em;
}

.navbar-title {
  margin-left: 1em!important;
}

/*.starter-template {
  padding: 40px 15px;
  text-align: right;
}*/


/* -------------------------------------
   Saying styling
   -------------------------------------*/
.saying-main {

}

.saying-entry {
  padding: 1em;
  border-style: groove;
  border-radius: 1em;
}

.saying-meta {
  margin-bottom: 0.5em;
  color: #999;
}

.saying-text{
  margin-bottom: 0;
}
