
{% extends "base.html" %}

{% block page_content %}

<div class="row">

    <div class="col-sm-8 col-sm-push-2 sayings">

        {% for saying in sayings %}
        {% set date_added = saying._id.generation_time -%}
        <div class="saying-entry">
            <p class="saying-meta">{{ moment(date_added).format('ll',) }}
                      by <a href="#">{{ saying.added_by }}</a></p>
            <p class="lead saying-text">
                {{ saying.text }}
            </p>
        </div><!-- /.saying-entry -->
        {% endfor %}

    </div><!-- /.sayings -->

</div><!-- /.row -->
{% endblock %}
